<style>
    #chart {
        max-width: 1024px;
        margin: 35px auto;
    }

    .placeholder {
        text-align: center;
        margin-top: 46px;
    }
</style>

<div id="app" class="section no-pad-bot"></div>