<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Laburapp</title>
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/materialize.min.css">
        <!--STYLES END-->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            .pace {
                -webkit-pointer-events: none;
                pointer-events: none;

                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;

                z-index: 2000;
                position: fixed;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 5px;
                width: 200px;
                background: #fff;
                border: 1px solid #ed9600;

                overflow: hidden;
            }

            .pace .pace-progress {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -o-box-sizing: border-box;
                box-sizing: border-box;

                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

                max-width: 200px;
                position: fixed;
                z-index: 2000;
                display: block;
                position: absolute;
                top: 0;
                right: 100%;
                height: 100%;
                width: 100%;
                background: #ed9600;
            }

            .pace.pace-inactive {
                display: none;
            }
        </style>
    </head>
    <body>
        <%- body %>

        <script>
            window.paceOptions = {
                ajax: {
                    trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
                },
                restartOnRequestAfter: 100
            };
        </script>
        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/apex.js"></script>
        <script src="/js/dependencies/materialize.min.js"></script>
        <script src="/js/dependencies/pace.js"></script>
        <script src="/js/dashboard.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
